<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">User</title>
</head>
<body>
<p th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">userName</p>
<form th:method="GET" th:action="@{/users/{id}/edit (id = ${user.getId()})}">
  <input type="submit" value="Edit user">
</form>
<form th:method="DELETE" th:action="@{/users/{id} (id = ${user.getId()})}">
  <input type="submit" value="Delete user">
</form>
<form th:method="GET" th:action="@{/users}">
  <input type="submit" value="Back to users">
</form>

</body>
</html>